<h1><%= @provider.name %></h1>
<hr>

<p>
  <b>Telefone</b>: <%= @provider.phone %>
</p>
<p>
  <b>Endereço</b>: <%= @provider.address %>
</p>
<p>
  <b>CNPJ</b>: <%= @provider.cnpj %> | <b>Inscrição Estadual</b>: <%= @provider.inscricao_estadual %>
</p>
